/* Table of content
  0. Global variables
  1. Global styles
  2. typography
  3. Layout
  4. Components
*/

/* ================
  Global variables
  ================*/
:root {
  --red1: hsl(304, 50%, 55%);
  --red2: hsl(0, 90%, 41%);
  --green1: hsl(79, 52%, 56%);
  --green2: hsl(136, 41%, 53%);
  --yellow0: hsl(15, 75%, 81%);
  --yellow1: hsl(25, 85%, 70%);
  --yellow2: hsl(45, 99%, 51%);
  --solar: hsl(35, 54%, 78%);
  --blue1: #96c7d9;
  --blue2: #6da2b5;
  --blue3: hsl(210, 84%, 59%);

  --grey0: hsl(0, 0%, 90%);
  --grey1: hsl(0, 0%, 75%);
  --grey2: hsl(0, 0%, 55%);
  --grey3: hsl(0, 0%, 35%);
  --grey4: hsl(0, 0%, 25%);
  --grey5: hsl(0, 0%, 15%);
  --grey6: hsl(0, 0%, 5%);

  --beige1: hsl(27, 9%, 80%);

  --text-primary: var(--grey0);
  --text-secondary: var(--grey5);

  --bg-primary: var(--blue1);
  --bg-secondary: var(--blue2);

  --accentColor: var(--grey6);
  --transition-speed: 300ms;

  --default-font-size: 16px;
  font-size: var(--default-font-size);
  color: var(--text-primary);
  background: var(--bg-primary);
}

/* ================
  Global styles
  ================*/

h1 {
  padding: 1rem;
  text-align: center;
}

p {
  line-height: 1.5;
  word-break: break-word;
  text-align: justify; /* Justifies text */
  hyphens: auto; /* Hypenation on auto */
  max-width: 60ch; /* max width of a paragraph should be  around 60 characters */
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: bold;
}

/* ================
  Typography
  ================*/
* {
  font-family: 'Open Sans', Helvetica, 'Futura', sans-serif;
}
a {
  font-family: 'EB Garamond', 'Times New Roman', 'Bodoni Moda', serif;
}
/* ================
  Layout
  ================*/

/* Small screens */
@media only screen and (max-width: 600px) {
  .large-nav {
    display: none;
  }

  .nav-container {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr 4rem;
  }

  p {
    text-align: center;
  }

  .nav-container {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  #play {
    width: 50vw;
    height: 40vw;
    aspect-ratio: auto 1 / 1;
    margin: 2em;
  }
  #game-area {
    width: 70%;
    margin: auto;
    padding-top: 1rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .small-nav {
    display: none;
  }

  .large-nav {
    background: var(--grey4);
    padding: 1em 0;
  }

  .large-nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .large-nav ul > li {
    list-style: none;
    margin: 0 1em;
    font-weight: bold;
  }
  #game-area2 {
    width: 30%;
    margin: auto;
    background: var(--grey2);

    /* height: 80%; */
  }
}

#scores {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* ================
Components
================*/
main {
  padding: 10%;
}

#banner {
  display: block;
  width: 100%;
  height: 5rem;
}

.div-play {
  display: grid;
  place-items: center;
}
/*
#play {
  width: 50vw;
  height: 50vw;
  aspect-ratio: auto 1 / 1;
  margin: 2em;
}*/

.hidden {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: var(--blue2);
}

footer > p {
  text-align: left;
  margin: 1rem 0;
  padding-left: 10px;
}
a {
  color: var(--text-primary);
  font-family: 'Open Sans', Helvetica, 'Futura', sans-serif;
}
/*
#game-area {
  width: 100%;
}*/

.highscores {
  display: flex;
  justify-content: center;
}

.highscores ol {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 25px;
  text-align: center;

  padding-left: 0%;
  width: auto;
}

#top1 {
  grid-column-start: 1;
  grid-column-end: 4;
  border: dashed red;
}

#top2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#top3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.highscores ol li {
  text-align: center;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: var(--beige1);
  color: var(--grey3);
  padding: 50px;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 2.4em;
  border-color: cornsilk;
  border-radius: 8px;
  border-width: 0, 2em;
}

textarea {
  margin-top: 1em;
  width: 100%;
  height: 4em;
  border-color: cornsilk;
  border-radius: 8px;
  border-width: 0, 2em;
}

.btn-contact {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-weight: bold;
  margin-top: 1em;
  padding: 0.5em;
  width: 7em;
  border-radius: 12px;
  text-align: center;
}

.about-us {
  text-align: center;
}

.about-us p {
  text-align: left;
  margin: 1em;
}

/* Menu button & list */
/*Play button*/
a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* STAGGERED */

.nav-container {
  overflow-x: hidden;
  width: 100%;
}

.menu-toggler {
  display: none;
}

.menu-toggler-label > svg {
  height: 2em;
}

.menu-toggler-label {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

.stagger-menu {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.stagger-menu li {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  opacity: 0;
  max-width: max-content;
  transform: translateX(100%);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
}

.menu-toggler:checked ~ .stagger-menu li {
  opacity: 1;
  transform: translateX(0);
  transition-delay: calc(0.055s * var(--i));
}

/* HOVER */

.hover-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-nav li a {
  color: var(--grey0);
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 0;
}

.small-nav li a:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--blue2);
  z-index: -1;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

.small-nav li a:hover:before,
.small-nav li a:focus:before {
  transform: scale(1);
}
